---
---
<header class="max-w-4xl mx-auto pt-8 px-4 md:px-0 mb-12 md:mb-20">
    <div class="scholarly-grid border border-zinc-900 grid-cols-2">
        <a href="/" class="scholarly-grid-item border-r border-b">Home</a>
        <a href="/archives" class="scholarly-grid-item border-b">Archives</a>
        <a href="/projectLogs" class="scholarly-grid-item border-r">Projects</a>
        <a href="/deepDives" class="scholarly-grid-item">Technical</a>
    </div>
</header>
